.body-steps {
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-left: 30px;
}

.body-steps > .step-header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #A8DADC;
  display: flex;
  padding-bottom: 20px;
}

.step-header > .orange-box {
  background-color: #FFC45F;
  height: 55px;
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  margin-right: 20px;
  border-radius: 2px;;
}

.orange-box > .step, .orange-box > .number {
  color: white;
  font-weight: bold;
}

.orange-box > .step {
  font-size: 18px;
}

.orange-box > .number {
  font-size: 28px;
}

.step-header > .title {
  font-weight: 200;
  font-size: 36px;
  letter-spacing: 5px;
  color: #FF8A25;
  margin-top: 5px; 
}

.body-steps > .step-container {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
}

.selection-container {
  padding: 5px 0px 15px 0px;
  /* border-bottom: 1px solid #FFC45F; */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar { 
  display: none;
}

.selection-container > .title {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 3px;
  padding-bottom: 20px;
  color: #0078FF;
}

.next-previous-step {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding: 20px 0px;
  border-top: 1px solid #A8DADC;
}

.previous-button {
  color: #0078FF;
  font-size: 20px;
  height: 50px;
  width: 125px;
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.next-button {
  color: white;
  font-weight: bold;
  font-size: 24px;
  height: 50px;
  width: 125px;
  background-color: #FFC45F;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.greyed-out-button {
  color: lightgrey;
  cursor: default;
}

.checkbox-container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.checkbox {
  width: 125px;
  aspect-ratio: 1 / 1;
  border: 1px solid lightgrey;
  margin: 2px 3px 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

.checkbox-img {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  z-index: 3;
}

.active.checkbox {
  border: 4px solid #FF8A25;
}

.checkbox:hover {
  border: 4px solid #0078FF;
}

.checkbox-checker {
  position: relative;
  border: 1px solid grey;
  height: 25px;
  width: 25px;
  transform: translate(90px, -120px);
  z-index: 2;
  border-radius: 50%;
}

.active.checkbox > .checkbox-checker {
  background-color: #FF8A25;
  transform: translate(87px, -116px);
  border: 0;
}

.checkbox:hover > .checkbox-checker {
  transform: translate(87px, -116px);
}

.single-slider > .name {
  /* color: #A8DADC */
}

/* #FFC45F; */

/* SLIDERS */

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 90%;
  align-items: center;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #A8DADC;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #0078FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #A8DADC;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #A8DADC;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #0078FF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #A8DADC;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #A8DADC;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 3px;
  background: #0078FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #A8DADC;
}
input[type=range]:focus::-ms-fill-upper {
  background: #A8DADC;
}