.Header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #FFC45F;
}

.configurator-step {
  height: 8vh;
  width: calc((100% - 150px) / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px 50% 50% 10px / 10px 100% 100% 10px ;
  background-color: white;
  margin-left: 25px;
  border: 3px solid white;
}

.configurator-step.active {
  border: 3px solid #0078FF;
}

.configurator-step-text {
  height: min-content;
  font-size: 5vh;
  color: #FF8A25;
  font-weight: bold;
  letter-spacing: 3px;
}

.configurator-step.active > .configurator-step-text {
  color: #0078FF;
}