.Header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(255, 192, 110);
}

.configurator-step {
  height: 8vh;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10% 70% 70% 10% / 10% 100% 100% 20px ;
  background-color: white;
  margin-left: 25px;
  border: 3px solid white;
}

.configurator-step.active {
  background-color: rgb(255, 192, 110);
}

.configurator-step-text {
  height: min-content;
  font-size: 5vh;
  color: rgb(255, 145, 0);
  font-weight: bold;
  letter-spacing: 3px;
}

.configurator-step.active > .configurator-step-text {
  color: white;
}