* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body, #root, .App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row;
}